@charset "UTF-8";
/* media queries*/

@media screen and (min-width: 730px) {
	.hamburger{
		display:none !important;
	}
}

@media screen and (max-width: 1150px) {
	#footer {
		justify-content: flex-end !important;
	}
	#colWrapper{
		position:relative !important;
		right:auto !important;
	}
	#socialWrapper{
		left:-10px !important;
	}
	#footer .footerIcon{
		display:none !important;
	}
}

@media screen and (max-width: 885px) {
	#footer {
		flex-direction: column !important;
	}
	#colWrapper{
		position:relative !important;
		right:auto !important;
		justify-content: center !important;
		
		margin-top:20px !important;
		background-color:#BE8972 !important;
		width:100vw !important;
		color:white !important;
	}
	#socialWrapper{
		position:relative !important;
		left:auto !important;
		padding-top:20px !important;
	}
}

@media screen and (max-width: 730px) {
	.nav li{
		display:none !important;
	}
	.hamburger{
		display:inherit !important;
		position:fixed !important;
		top:25px !important;
		right:20px !important;
		z-index: 100 !important;
	}
	.navLogoContainer{
		top:0 !important;
	}
}

@media screen and (max-width: 500px) {
	.page em{
		margin:0; padding:0 !important;
	}
	#page1{
		height:auto !important;
		padding:100px 0 !important;
		flex-wrap: wrap !important;
	}
	#page1 img{
		width:100vw !important;
	}
	#page1 h2{
		max-width:calc(100vw - 30px) !important;
		font-size:5vmin !important;
	}
	#page2{
		background-position: center center !important;
	}
	#footer2{
		font-size:13px !important;
	}
}
