@charset "UTF-8";
/* media queries*/

@media screen and (min-width: 2560px) {
	.nav li{font-size:1.875em !important;}
	.navLogoContainer img{width:75px !important;}
	.navLogoContainer p{font-size:1.875em !important;}
	.navLogoContainer {height:95px !important;}
	#logoBanner{width:750px !important;}
	#page1 h2{max-width:750px !important; font-size:2.25em !important;}
	.bigBtn{width:180px !important; font-size: 1.875em !important;}
	
	#page1{height:750px !important;}
	#tv-medium-widget-0c2df{height:750px !important;}
	
	.page h1{font-size:3em !important;}
	.page em{font-size:1.5em !important;}
	
	p, #footer2{font-size:1.6875em !important;}
	#page2 p{max-width:1200px !important;}
	
	#page3{margin-top:-32px !important;}
	.featureBox h2{font-size:2.25em !important;}
	.featureBox p{max-width:397.5px !important;}
	.featureBox{width:420px !important; height:450px !important;}
	.icon{padding:15px 160px !important;}
	
	#page5{margin-top:-32px !important;}
	
	#progressWrapper iframe, #reddit-cardWrapper{height:450px !important;}
	#progressImg{height:180px !important;}
	
	.card{height:640px !important; max-width:420px !important; margin:22.5px 30px !important;}
	
	h4{font-size:1.5em;}
	.footerIcon{height:232.5px !important;}
	#socialWrapper input[type=email]{width:510px !important; font-size:1.6875em !important;}
	#socialWrapper button{padding:7.5px 22.5px !important; font-size:1.6875em !important;}
}

@media screen and (min-width: 730px) {
	.hamburger{
		display:none !important;
	}
}

@media screen and (max-width: 1150px) {
	.featureBox{
		max-width:100% !important;
		flex:0 0 100% !important;
	}
	#progressWrapper{
		flex-direction: column !important;
	}
	#footer {
		justify-content: flex-end !important;
	}
	#colWrapper{
		position:relative !important;
		right:auto !important;
	}
	#socialWrapper{
		left:-10px !important;
	}
	#footer .footerIcon{
		display:none !important;
	}
}

@media screen and (max-width: 885px) {
	#page2{
		display:flex !important;
		flex-direction:column !important;
		background-image:url(../img/logoBackground.png) !important;
		background-repeat: no-repeat !important;
		background-size:500px !important;
		background-position: left center !important;
	}
	.parallexIMG{
		display:none !important;
	}
	#wrapper{
		width:100% !important;
	}
	
	#footer {
		flex-direction: column !important;
	}
	#colWrapper{
		position:relative !important;
		right:auto !important;
		justify-content: center !important;

		margin-top:20px !important;
		background-color:#BE8972 !important;
		width:100vw !important;
		color:white !important;
	}
	#socialWrapper{
		position:relative !important;
		left:auto !important;
		padding-top:20px !important;
	}
}

@media screen and (max-width: 730px) {
	.nav li{
		display:none !important;
	}
	.hamburger{
		display:inherit !important;
		position:fixed !important;
		top:25px !important;
		right:20px !important;
		z-index: 100 !important;
	}
	.navLogoContainer{
		top:0 !important;
	}
}

@media screen and (max-width: 500px) {
	.page em{
		margin:0 !important; padding:0 !important;
	}
	#page1{
		height:auto !important;
		padding:100px 0 !important;
		flex-wrap: wrap !important;
	}
	#page1 img{
		width:100vw !important;
	}
	#page1 h2{
		max-width:calc(100vw - 30px) !important;
		font-size:5vmin !important;
	}
	#page2{
		background-position: center center !important;
	}
	#footer2{
		font-size:13px !important;
	}
}

@media screen and (max-width: 400px) {
	#socialWrapper input[type=email]{
		width:300px !important;
	}
}
