@charset "UTF-8";
/* Style.css */

body{
	margin:0;
	padding:0;
	max-width:100%;
	overflow-x: hidden;
}

#smallScreenNav{
	display:none;

	width:100vw;
	height:100vh;
	z-index:16;
	position:fixed;
	background-color:rgba(55,55,55,0.75);
	justify-content: center;
	align-items: center;
}
#smallScreenNav li{
	list-style: none;
	font-size:2.5em;
	text-align: center;
	font-family: sans-serif;
	margin:10px 0;
}
.hamburger{
	color:white;
	z-index: 100000000;
}
.scrolled .hamburger{color:#373737;}

.nav{
	width:100vw;
	padding:15px 0px;
	position:fixed; top:0;
	display:flex; align-items: center; justify-content: flex-end;
	font-size:1em;
	color:white;
	font-family:sans-serif;
	background-color:rgba(0,0,0,0.00);
	transition:0.7s;
	z-index: 5;
}
.nav li{
	list-style: none;
	display:inline;
	margin:0 25px;
	position:relative;
}
.nav li:hover{
	text-decoration: underline;
}
.nav img{
	width:55px;
	visibility: hidden;
}

.navLogoContainer{
	position:fixed;
	display:flex;
	height:85px;
	align-items: center;
	margin-left:20px;
	z-index:15;
	color:white;
}
.navLogoContainer img{
	width:50px;
	height: 50px;
	transition:0.7s;
}
.scrolled img{
	filter: grayscale(100%);
	transition:0.7s;
}
.navLogoContainer p{
	margin-left:10px;
	font-size:1.25em;
	font-style: italic;
	font-weight: 600;
	letter-spacing: 1px;
	font-family:sans-serif;
}

.scrolled{
  background-color: white;
	color:#373737;
	transition:0.7s;
}
.nav.scrolled{
	box-shadow: 0 5px 5px -5px #333;
}

li > a {
  position: relative;
	color:white;
  text-decoration: none;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: .75rem;
	font-family: "Montserrat", sans-serif;
}

li > a:hover {
  color: white;
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.scrolled li > a {
  color: rgba(0, 0, 0, 0.7);
}

.scrolled li > a:hover {
  color: black;
}

.scrolled li > a:before {
  background-color: black;
}

li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.active a {
	border-top:3px solid #6a8bfa;
	padding-top:33px;
}

.page h1{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	color:#373737;
	text-align: center;
	padding-top:20px;
	margin-bottom: 5px;
}
.em{
	color:#373737;
	margin:5px 50px;
}
.bigBtn{
	padding:15px 25px;
	font-size:1.25em;
	border:3px solid #6a8bfa;
	border-radius:999px;
	color:white;
	font-family: sans-serif;
	font-weight:bold;
	transition: 0.7s;
	width:110px;
	font-size: 1em !important;
  font-family: "Montserrat", sans-serif;
	letter-spacing:0.7px;
}
.bigBtn:hover{
	/*background-color:#846F65;
	border-color:#9d6247;*/
	color:#6a8bfa;
	background-color:white;
	border-color:white;
	transition: 0.7s;
}
.bigBtn a:hover, .bigBtn a:visited, .bigBtn a:focus, .bigBtn a{
	color:white;
	text-decoration: none !important;
}

#page1{
	height:500px;
	display:flex;
	justify-content: center;
	align-items: center;
}
#page1 img{
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}
#logo{
	width:500px;
	/*margin-left:-250px;*/
	transform:rotate(30deg);
	position:absolute;
	left:-250px
}
#logoBanner{
	width:500px;
}
#page1 h2{
	color:white;
	font-family: sans-serif;
	font-size:1.5em;
	max-width:500px;
	line-height: 1.3em;
}
#tv-medium-widget-0c2df{
	filter: invert(78.5%) blur(5px);
	position:absolute; top:0; left:0;
	z-index: -1;
	height:500px;
}

#page2{
	background-color:white;
	margin-top:0;
	border-top:1px solid black;
	position: relative;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 30px;

	/*background-image:url(../img/logoBackground.png);
	background-repeat: no-repeat;
	background-size:500px;
	background-position: left center;*/
}
#page2 #wrapper{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(50% - 4px);
	height:100%;
	padding: 0;
}
#page2 h1{
	padding-top:0 !important;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-size:1.875em;
	margin-bottom:20px;
}
#page2 p{
	color:#333333;
	font-size:0.875em;
	max-width: 800px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.65714286em;
	margin:10px 75px;
}
#page2 p:first-of-type:first-letter{
	font-size:1.4em;
	font-weight: bolder;
	max-width: 800px;
	font-family:sans-serif;
}
.parallexIMG{
	position: absolute;
	right:0;
	width: 50%;
	height: 100%;
	top:0;
	background-repeat: no-repeat; background-size: contain; background-position:90% center; background-attachment: fixed;
}

#page3{
	background-color:#EFEFEF;
	margin-top:-23px;
	padding-bottom: 20px;
}
#featureBoxContainer{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items:stretch;
	margin:20px 0;
}

.featureBox{
	border-radius:5px;
	margin:20px 30px;
	transition: 0.2s linear;
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	flex:0 0 28%;
	max-width: 28%;

}
.featureBox:hover #featureBoxContainer{
	align-items: center !important;
}
.icon{
	color:#777;
	padding:0 15px;
}
.featureBoxTxtWrapper{
	display:flex;
	flex-flow: column wrap;
	align-items: flex-start;
	line-height: 1.65714286em;
	font-family: 'Open Sans', sans-serif;
}
.featureBox h2{
	font-size:1.125em;
	text-align:center;
	font-weight:500;
	margin:0;
	padding-right:15px;
}
.featureBox p{
	font-size:0.75em;
	margin-top:5px;
	color:#777;
}

#page4{
	background-color:white;
	padding:20px;
}
#progressWrapper{
	display:flex;
	justify-content: center;
	align-items: center;
}
#progressWrapper iframe, #reddit-cardWrapper{margin:15px 20px; width:100vw;}
#reddit-cardWrapper{height:300px; overflow:scroll;}

#progressImg{
	width:calc(100vw - 60px);
	height:120px;
	margin:15px 20px;
	background-repeat: space;
	background-size: contain;
	background-position: center;
	display:none;
}

.downloadBtn{
	background-color: #6a8bfa;
	padding:15px;
	margin:20px;
	width:275px;
	display:flex;
	align-items: center;
}
.downloadBtn:hover{cursor: pointer;}
.downloadBtn h2{
	color:white;
	font-family:sans-serif;
	font-size:1.125em;
	margin:0 0 0 15px;
}

#page5{
	background-color: #EFEFEF;
	margin-top:-21px;
}

.band {
  display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items:stretch;
	margin-top:20px;
}

/* card */

.card{
  /*height:400px;
	max-width:280px;*/
	overflow:hidden;
  background: white;
	color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	transition: all .1s ease-in;

  display: flex;
  flex-direction: column;
  text-decoration: none;

	margin:20px 10px;
	padding:60px 40px;
	flex:0 0 20%;
	width: 20%;
}

.card a{color: #444; text-decoration:none;}

.card:hover {
  margin-top: -5px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
	cursor:not-allowed;
}
.card a:hover{cursor:not-allowed;}

.card article {
  padding: 20px;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.card fa{

}
.card p {
  flex: 1; /* make p grow to fill available space*/
  font-size:0.875em;
	font-family:"Open Sans", sans-serif;
	line-height: 1.65714286em;
	text-align:center;
}

/* typography */
.card h1 {
  font-size: 1.125em;
  margin: 0;
	margin-top:-15px;
  color: #333;
	font-family: "Montserrat", sans-serif;
}

#footer{
	width:100vw;
	background-color:#4c403a;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#footer .footerIcon{
	color:white;
	margin-left:20px;
	height:155px;

	display: flex;
	align-items: center;
	justify-content: center;
}
#footer .footerIcon:hover{
	cursor:pointer;
}

#socialWrapper{
	display:flex;
	flex-direction: column;
	align-items: center;

	position:absolute;
	left:20px;
}
#socialWrapper input[type=email] {
	padding:15px 0;
	border-radius:0 5px;
	border:2px solid #9e6248;
	background-color:transparent;
	transition: border-color .2s linear;
	text-align: center;
	width:340px;
	color:#BE8972;
	font-size:1.125em;
}
#socialWrapper input[type=email]:focus {
	border-color:#BE8972;
	outline-width: 0;
	transition: border-color .2s linear;
}
input::placeholder{
	font-size:1.125em;
	font-family: "Open Sans" "abril-fatface", sans-serif;
	color:#9e6248;
}
#socialWrapper button {
	padding:5px 15px;
	border-radius:9999px;
	background-color:transparent;
	margin-top:20px;
	font-size: 1.125em;
	color:#BE8972;
	border:2px solid #9e6248;
	transition: border-color .2s linear;
}
#socialWrapper button:hover {
	border-color:#BE8972;
	transition: border-color .2s linear;
	cursor:pointer;
}
#socialWrapper button:focus{
	outline-width:0;
}

#colWrapper{
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	color:#BE8972;

	position:absolute;
	right:20px;
}
.col{
	display:flex;
	flex-direction: column;
	margin:0 20px 20px 20px;
}
.col a, .col a:hover, .col a:focus{
	color:#BE8972;
	text-decoration: none;
	transition:0.5s;
}
.col a:hover{color:#dca289; transition:0.5s;}
.col p{margin:3px 0;}
.col p:hover{cursor:pointer;}
.col h4{margin-bottom:0; font-family: sans-serif;}

#footer2{color:white; padding:12px; font-size:1em; font-family: sans-serif;}
